$primary-white: #fff;
$primary-black: #000;
$primary-gray: gray;
$primary-whitsmoke: whitesmoke;
$primary-sky: #3883fa;
$primary-border: rgb(201, 200, 200);
// $primary-sky: #28282b;

// BACKGROUND COLOR
$background-blur: rgba(0, 0, 0, 0.348);

$navbar-background: #007ea7;
$editor-background: #22a7d4;

$background-purple: #8472d6;
$background-purple-light: #cdc4f5;
$background-orange-light: rgba(245, 196, 106, 0.362);

$dark-charcoal: #36454f;
$jet-black: #343434;
$matte-black: #28282b;

$cerulean-color: #007ea7;
$cerulean-color-light: #22a7d4;

//

$landing-page-background-color: #fff;

/*

$mimi-pink: #ffe1ea;
$isabilian: #f2e9e4;
$french: #c1cad6;
$light-yellow: #f6f4d2;
$pink: #fbbfca;
$tea-rose: #d5b0ac;

*/
